# DataCamp Tutorial Example

This notebook contains a walkthrough of the [DataCamp Keras Tutorial](https://www.datacamp.com/community/tutorials/deep-learning-python)

The goal is the tutorial is to demonstrate how to use Keras to predict Red or White wine.

This notebook assumes you have worked through the introduction notebook and this notebook will focus more on the implementation of Keras to the Wine dataset.

## Wine Data Set

[White Wine Data](http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv)

[Red Wine Data](http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv)

This dataset has been downloaded and can be found in the data directory

## Goal

Given a dataset with red and white wine features, create a model that can predict wine based on the different characteristics of a wine.

# Create model to predict Wine type

## Read in the datasets

In [377]:
import pandas as pd

In [378]:
df_red = pd.read_csv('./data/wine/winequality-red.csv', sep=';')
df_white = pd.read_csv('./data/wine/winequality-white.csv', sep=';')

In [379]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [380]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [381]:
df_red.shape

(1599, 12)

In [382]:
df_white.shape

(4898, 12)

We will clearly have a class imbalance that we need to address

Check to see if the data contains any null or missing data

In [383]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [384]:
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [385]:
pd.isnull(df_red).sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [386]:
pd.isnull(df_white).sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## Add wine type attribute to each dataset

In [387]:
# 1 = red
# 0 - white
df_red['type'] = 1
df_white['type'] = 0

In [388]:
df_red.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

## Create single wine dataframe

In [389]:
df = pd.concat([df_red, df_white], ignore_index=True)

In [390]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [391]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [392]:
df.shape

(6497, 13)

## Create Feature and Target variables

In [393]:
X = df.drop(columns=['type'])
y = df['type']

In [394]:
X.shape

(6497, 12)

In [395]:
y.shape

(6497,)

## Split Data into training and test

In [396]:
from sklearn.model_selection import train_test_split

# Note the use of stratify=y
# where 'y' is the NOT for yes, but the actual variable 'y' that contains the target
# stratify=y will make sure the training and test data has the same percentage of each target so we 
# do not get a skewed dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

In [397]:
y.sum()/y.count()

0.2461135908881022

In [398]:
y_train.sum()/y_train.count()

0.24609375

In [399]:
y_test.sum()/y_test.count()

0.24615384615384617

In [400]:
X_train.shape

(4352, 12)

In [401]:
X_test.shape

(2145, 12)

In [402]:
y_test.sum()

528

## Standardize Dataset

Because the dataset contains features with different ranges and units of measure, it is important to standardize the range of values.

The scikit-learn StandardScaler will scale the numeric columns in a dataset by removing the mean and scaling to unit variance

In [403]:
from sklearn.preprocessing import StandardScaler

In [404]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [405]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
5025,7.1,0.170,0.40,14.55,0.047,47.0,156.0,0.99945,3.34,0.78,9.10,6
2238,5.8,0.335,0.14,5.80,0.046,49.0,197.0,0.99370,3.30,0.71,10.30,5
4834,5.7,0.150,0.28,3.70,0.045,57.0,151.0,0.99130,3.22,0.27,11.20,6
6143,5.8,0.280,0.30,3.90,0.026,36.0,105.0,0.98963,3.26,0.58,12.75,6
2892,6.9,0.390,0.22,4.30,0.030,10.0,102.0,0.99300,3.00,0.87,11.60,4

In [406]:
df_train_scaled = pd.DataFrame(X_train_scaled)
df_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.082151,-1.016338,0.557545,1.904707,-0.260542,0.921400,0.710483,1.579967,0.747932,1.689005,-1.171387,0.190425
1,-1.076653,-0.025627,-1.235015,0.071249,-0.288732,1.033652,1.434790,-0.328298,0.500469,1.213826,-0.166457,-0.954228
2,-1.153153,-1.136424,-0.269790,-0.368781,-0.316923,1.482658,0.622153,-1.124792,0.005544,-1.773017,0.587241,0.190425
3,-1.076653,-0.355864,-0.131901,-0.326874,-0.852541,0.304017,-0.190484,-1.679019,0.253007,0.331350,1.885275,0.190425
4,-0.235152,0.304610,-0.683458,-0.243058,-0.739780,-1.155253,-0.243482,-0.560609,-1.355500,2.299950,0.922217,-2.098881

In [407]:
df_train_scaled.shape

(4352, 12)

## Create Keras Model Architecture - Single Output Node

Because the target value is binary, we are predicting Red wine or White wine, or for a single binary prediction: Red wine yes or no.

For these kinds of models we can use a single node Dense layer as the output, a sigmoid activation function and a *binary_crossentropy* loss function. 

The output of the predict method will be a series of 1's and 0's.

In [408]:
from keras.models import Sequential, load_model
from keras.layers import Dense
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, cohen_kappa_score, classification_report

In [409]:
# The input_shape is needed in the input layer to tell Keras how many input features to expect
input_shape = X_train_scaled.shape[1]
print(input_shape)

12

### Create Keras Model

In [410]:
model = Sequential()

# Add the first layer
model.add(Dense(12, activation='relu', input_shape=(input_shape,)))

# Add the second layer
model.add(Dense(8, activation='relu'))

# Add the output layer
# activation = sigmoid gives probabilities as predicted outputs
model.add(Dense(1,activation='sigmoid'))

# compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [411]:
# fit will perform the backpropagation and gradient descent
# fit(X_train, y_train)
model.fit(X_train_scaled, y_train, epochs=100, validation_split=0.4, batch_size=64, verbose=0)

### Make Predictions on Single Node Output layer

In [412]:
y_pred = model.predict(X_test_scaled)

In [413]:
y_pred[:5]

array([[7.6412741e-04],
       [9.9985409e-01],
       [3.6248897e-04],
       [1.0000000e+00],
       [1.5049579e-03]], dtype=float32)

In [414]:
# for this, lets assume any probability above 0.5, means Red wine
cm = confusion_matrix(y_test, y_pred >= 0.5)
df_cm = pd.DataFrame(
        cm, index=['white', 'red'], columns=['white', 'red'], 
    )
df_cm.head()

       white  red
white   1613    4
red        4  524

In [416]:
score = model.evaluate(X_test_scaled, y_test,verbose=1)
print(f'Loss: {score[0]}, Accuracy: {score[1]}')

2145/2145 [==============================] - 0s 17us/step
Loss: 0.01806270329269205, Accuracy: 0.9962703962703963

## One-Hot Encode the 'type'

When there are multiple possible target values it is recommended to encode each possible output.  This can also be done for binary classifications as we will see.

In [417]:
y_train.head()

5025    0
2238    0
4834    0
6143    0
2892    0
Name: type, dtype: int64

In [418]:
from keras.utils import to_categorical

# to_categorical will take Series and create a column for each possible value
y_train_cat = to_categorical(y_train)
y_test_cat = to_categorical(y_test)

In [419]:
pd.DataFrame(y_train_cat).head()

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

## Create Keras Model Architecture - Multiple Output Node

### One-Hot Encode the 'type'

When there are multiple possible target values it is recommended to encode each possible output.  This can also be done for binary classifications as we will see.

In [420]:
y_train.head()

5025    0
2238    0
4834    0
6143    0
2892    0
Name: type, dtype: int64

In [421]:
from keras.utils import to_categorical

# to_categorical will take Series and create a column for each possible value
y_train_cat = to_categorical(y_train)
y_test_cat = to_categorical(y_test)

In [422]:
pd.DataFrame(y_train_cat).head()

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

### Create Keras Model

In [423]:
model = Sequential()

# Add the first layer
model.add(Dense(12, activation='relu', input_shape=(input_shape,)))

# Add the second layer
model.add(Dense(8, activation='relu'))

# Add the output layer
# NOTE - we specify 2 output layer nodes for each of the 0 or 1 outcomes
# We also use softmax to provide a probability across the two vales
model.add(Dense(2, activation='softmax'))

# compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [424]:
# fit will perform the backpropagation and gradient descent
# fit(X_train, y_train)
model.fit(X_train_scaled, y_train_cat, epochs=100, validation_split=0.4, batch_size=64, verbose=0)

In [425]:
score = model.evaluate(X_test_scaled, y_test_cat,verbose=1)
print(f'Loss: {score[0]}, Accuracy: {score[1]}')

2145/2145 [==============================] - 0s 20us/step
Loss: 0.016405525858083084, Accuracy: 0.9962703962703963

### Making predictions on multiple output node layer

In [426]:
y_pred_proba = model.predict(X_test_scaled)

In [427]:
y_pred_proba[:,1]

array([6.9799244e-05, 9.9922562e-01, 3.2976790e-05, ..., 9.9977607e-01,
       3.4908796e-09, 6.1934028e-05], dtype=float32)

In [428]:
y_pred = y_pred_proba[:, 1] > 0.5

In [429]:
y_pred

array([False,  True, False, ...,  True, False, False])

In [466]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, cohen_kappa_score, classification_report, accuracy_score

In [431]:
cm = confusion_matrix(y_test, y_pred)
# for this, lets assume any probability above 0.5, means Red wine
cm = confusion_matrix(y_test, y_pred >= 0.5)
df_cm = pd.DataFrame(
        cm, index=['white', 'red'], columns=['white', 'red'], 
    )
df_cm.head()

       white  red
white   1613    4
red        4  524

In [432]:
precision_score(y_test, y_pred)

0.9924242424242424

In [433]:
recall_score(y_test, y_pred)

0.9924242424242424

In [434]:
f1_score(y_test,y_pred)

0.9924242424242424

In [435]:
cohen_kappa_score(y_test, y_pred)

0.9899505256648113

In [436]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1617
           1       0.99      0.99      0.99       528

   micro avg       1.00      1.00      1.00      2145
   macro avg       0.99      0.99      0.99      2145
weighted avg       1.00      1.00      1.00      2145

# Create Model to predict Wine Quality - Regression

We could look at this as either a multi-class classification problem, or an ordinal regression problem where we are trying to predict a number.

For this problem, lets try it as a regression problem.  For this problem we will use the *quality* column of the data frame as the target instead of the *type* as we did for the classification.


Lets review the **wine** DataFrame

In [437]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [438]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3, 9])

In [439]:
X = df.drop(columns=['quality'])
y = df['quality']

For this section, we are going to approach this a little different and start to blend in some of the Scikit-Learn components such as *cross_val_score*, a hold-out set and a pipeline.

These topics were covered in the *Supervised Machine Learning with Scikit-Learn* repo and Jupyter notebook.

Even if you are not familiar with those particulars, we will provide an explanation about what is going on and this example will provide a good example of a more realistic development of model.

Keep in mind that we can perform *cross_val_score* because the dataset is small.  If this were a large dataset, training a model on a portion of the training data and then re-training on a new portion would be too expense in time and CPU/GPU.

In [440]:
imput_dim = X.shape[1]  # get the number of columns/features in X

### Create the hold-out set with train_test_split

In [441]:
X_train,X_test,y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42, stratify=y)

In [442]:
import numpy
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [443]:
scaler = StandardScaler()

In [444]:
scaler.fit(X_train)

/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [445]:
X_train_scaled = scaler.transform(X_train)

/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [446]:
X_test_scaled = scaler.transform(X_test)

/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

### Create a Keras Model as a Scikit-Learn Estimator

The reason we would want to do this is that this will allow us to use the Modeling utilities such as cross validation and pipelines.

In [447]:
from keras.wrappers.scikit_learn import KerasClassifier

In [448]:
def create_keras_wine_quality_model():
    # Initialize the model
    model = Sequential()

    # Add input layer 
    model.add(Dense(64, input_dim=imput_dim, activation='relu'))

    # Add output layer 
    model.add(Dense(1))
    
    model.compile(optimizer='rmsprop', loss='mean_squared_error', metrics=['mae'])
    
    return model

In [449]:
# Create a KerasRegressor that has a compatible API for Scikit-Learn estimator
estimator = KerasRegressor(build_fn=create_keras_wine_quality_model, epochs=100, batch_size=5, verbose=0)

In [450]:
kfold = StratifiedKFold(n_splits=3, shuffle=True, random_state=43)

In [451]:
results = cross_val_score(estimator, X_train_scaled, y_train, cv=kfold)

In [452]:
# The results are the mean_absolute_error which represent the number of 'units' off the measurements are
# https://github.com/scikit-learn/scikit-learn/issues/2439
# there is a super long debate about why Scikit learn cross_val_score returns negative mean absolute error values
# for now.. you can just flip the sign
results

array([-0.53607755, -0.49895481, -0.52327601])

In [453]:
print("Results: %.2f MSE (%.2f) STD" % (results.mean(), results.std()))

Results: -0.52 MSE (0.02) STD

### Create a model and fit it to the training data

In [454]:
model = create_keras_wine_quality_model()
model.fit(X_train_scaled, y_train, epochs=100, validation_split=0.4, batch_size=64, verbose=0)

### Evaluate the model on the hold-out test set

In [455]:
mse_value, mae_value = model.evaluate(X_test_scaled, y_test, verbose=0)

In [456]:
print(mse_value, mae_value)

0.5020298369725545 0.5517532780231573

You can see the hold-out has similar mean absolute error as the training data.

In [457]:
from sklearn.metrics import r2_score
y_pred = model.predict(X_test_scaled)
r2_score(y_test, y_pred)

0.33988304604797814

The R^2 score is also not very good.  R^2 score of 1 is the best, and the score can go negative.

Therefore a score of 0.33 is not a very good score

### Create a Scikit-Learn Model Sandbox

Lets see if we can improve this model by adding more layers, or layers with more nodes, or changing the optimizer.

*Spoiler Alert* - I was not able to improve on the wine quality as a regression problem.  But we could change this back to a Categorical problem.

In [458]:
from keras.optimizers import SGD, RMSprop

def create_keras_wine_quality_deep_model():
    # Initialize the model
    model = Sequential()

    # Add input layer 
    model.add(Dense(128, input_dim=imput_dim, activation='relu'))

    # Add input layer 
    model.add(Dense(64, activation='relu'))

    # Add output layer 
    model.add(Dense(1))
    
    # rmsprop
    # RMSprop(lr=0.001)
    # SGD(lr=0.1)
    model.compile(optimizer=SGD(lr=0.001), loss='mean_squared_error', metrics=['mae'])
    
    return model

In [459]:
model = create_keras_wine_quality_deep_model()
model.fit(X_train_scaled, y_train, epochs=100, validation_split=0.4, batch_size=64, verbose=0)

In [460]:
mse_value, mae_value = model.evaluate(X_test_scaled, y_test, verbose=0)
print(mse_value, mae_value)
y_pred = model.predict(X_test_scaled)
print(r2_score(y_test, y_pred))

0.561592039572887 0.5810384603647085
0.2615649565817436

# Create model to predict Wine Quality - Classification

In [473]:
df_red = pd.read_csv('./data/wine/winequality-red.csv', sep=';')
df_white = pd.read_csv('./data/wine/winequality-white.csv', sep=';')

df_red['type'] = 1
df_white['type'] = 0

df = pd.concat([df_red, df_white], ignore_index=True)

X = df.drop(columns=['quality'])
y = df['quality']

# lets assume that wine quality with a value of 7 or greater is considered good wine.  With a target value of 1
y = y >= 7

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42, stratify=y)

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
input_shape = X_train.shape[1]

y_train_cat = to_categorical(y_train)
y_test_cat = to_categorical(y_test)

model = Sequential()

# Add the first layer
model.add(Dense(128, activation='relu', input_shape=(input_shape,)))

# Add the second layer
model.add(Dense(64, activation='relu'))

# Add the output layer
# NOTE - we specify 2 output layer nodes for each of the 0 or 1 outcomes
# We also use softmax to provide a probability across the two vales
model.add(Dense(2, activation='softmax'))

# compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

model.fit(X_train_scaled, y_train_cat, epochs=1000, validation_split=0.4, batch_size=64, verbose=0)

y_pred_proba = model.predict(X_test_scaled)

y_pred = y_pred_proba[:, 1] > 0.5

cm = confusion_matrix(y_test, y_pred)
# for this, lets assume any probability above 0.5, means Red wine
cm = confusion_matrix(y_test, y_pred >= 0.5)
df_cm = pd.DataFrame(
        cm, index=['Bad', 'Good'], columns=['Bad', 'Good'], 
    )
print(df_cm.head())

print(f'Accuracy: {accuracy_score(y_test, y_pred)}')

/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:19: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
/Users/patrickryan/Development/python/mygithub/intro_to_keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:20: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

       Bad  Good
Bad   1576   147
Good   174   248
Accuracy: 0.8503496503496504